.group {
    position: relative;
    margin: 30px 0 0 0;
}

.pass-wrapper {
    position: relative;
    display: flex;
}

i {
    position: absolute;
    top: 40%;
    right: 9%; 
}

i:hover {
    color: #A9A9A9;
    cursor: pointer;
  }

input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    display: block;
    width: 90%;
    min-height: 45px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(66, 133, 244);
    margin: 25px 0;

    &:focus {
        outline: none;
    }

    &:focus ~ .form-input-label {
        top: 14px;
        font-size: 14px;
        color: black;
    } 
}

input.error {
    border-bottom: 2px solid rgb(224, 31, 31);
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    cursor: pointer;
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.form-input-label {
    color: grey;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 40px;
    transition: 300ms ease all;

    &.shrink {
        top: 14px;
        font-size: 14px;
        color: black;
        &.error {
            color: rgb(224, 31, 31);
        }
    }

    &.error {
        color: rgb(224, 31, 31);
    }
}