.sign-up-wrapper {
    display: block;
    width: 600px;
    margin: 0 auto;

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn.submit {
        background-color: rgb(66, 133, 244);
    }

    #registration-input-email {
       grid-column-start: 1;
       grid-column-end: 3; 
    }

    #registration-input-email > input {
        width: 95%;
    }

    .spinner-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
