.accepted-problem-list {
    font-size: 18px;
    margin-top: 20px;
    width: 1200px;
    display: block;
    margin: 0 auto;
    max-height: 600px;
    height: 500px;

    .column-header {
        font-size: 18px;
    }

    .row-cell {
        font-size: 16px;
    }
}